/* Roots start */

:root {
  --font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --main-color: #212121;
  --alternative-color: #2f303a;
  --secondary-color: #ffffff;
  --header-border-color: #ececec;
  --accent-card-color: #f5f4fa;
  --portfolio-border: #eeeeee;
  --text-color: #757575;
  --main-links-color: #afb1b8;
  --accent-color: #2196f3;
  --button-accent-color: #086ec1;
}

/* Roots end */
