/* Dicisions start */

.decisions {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--secondary-color);
  background-color: var(--alternative-color);

  @include mq(mobile-only) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/bgimg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/bgimg@2x.jpg);
    }
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/bgimg_tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/bgimg_tablet@2x.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bgimg_desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/bgimg_desktop@2x.jpg);
    }
  }

  @include mq(tablet) {
    padding-top: 150px;
    padding-bottom: 150px;
    height: 500px;
  }

  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondary-color);
    background-color: var(--alternative-color);
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;

    @include mq(notDesktop) {
      max-width: 360px;
    }

    @include mq(tablet) {
      max-width: 696px;
      font-size: 38px;
      line-height: 1.6;
    }

    @include mq(desktop) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.decisions__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  animation: bounce-in-top 5s both infinite;

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }

  @include mq(tablet) {
    font-size: 18px;
  }

  @include mq(desktop) {
    font-size: 20px;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-out;
  }

  5% {
    transform: rotate(-7deg);
    animation-timing-function: ease-out;
  }

  10% {
    transform: rotate(7deg);
    animation-timing-function: ease-out;
  }

  15% {
    transform: rotate(-5deg);
    animation-timing-function: ease-out;
  }

  20% {
    transform: rotate(5deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(-3deg);
    animation-timing-function: ease-out;
  }

  30% {
    transform: rotate(0);
    animation-timing-function: ease-in;
  }

  100% {
    transform: rotate(0);
    animation-timing-function: ease-in;
  }
}

/* Dicisions end */
