/* Dicisions start */

.decisions {
  display: block;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  color: var(--secondary-color);
  background-color: var(--alternative-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgimage.jpg);

    @include mq(tablet) {
      max-width: 768px;
    }

    @include mq(desktop) {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;

    }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;

    @include mq(desktop) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
    
  }
}

.decisions__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  animation: bounce-in-top 5s both infinite;

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
}

@keyframes bounce-in-top {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-out;
  }

  5% {
    transform: rotate(-7deg);
    animation-timing-function: ease-out;
  }

  10% {
    transform: rotate(7deg);
    animation-timing-function: ease-out;
  }

  15% {
    transform: rotate(-5deg);
    animation-timing-function: ease-out;
  }

  20% {
    transform: rotate(5deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(-3deg);
    animation-timing-function: ease-out;
  }

  30% {
    transform: rotate(0);
    animation-timing-function: ease-in;
  }

  100% {
    transform: rotate(0);
    animation-timing-function: ease-in;
  }
}

/* Dicisions end */
