/* Portfolio start */

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &-item:nth-child(-n + 3) {
    @include mq(mobile-only) {
      margin-bottom: 15px;
    }
  }

  @include mq(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin-bottom: 50px;
  }

  /* outline: 1px solid tomato; */
}

.button {
  text-align: center;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-card-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  @include mq(tablet) {
    margin-right: -30px;
  }
}

.portfolio-title-list {
  display: flex;
  margin-bottom: 30px;

  @include mq(mobile) {
    flex-basis: 450px;
    margin-right: 30px;
  }

  @include mq(tablet) {
    flex-basis: 354px;
  }

  @include mq(desktop) {
    flex-basis: 370px;
  }

  &:nth-last-child(-n + 3) {
    @include mq(desktop) {
      margin-bottom: 0;
    }
  }

  & .text {
    font-size: 16px;
    line-height: 1.9;
  }
}

.portfolio-link {
  display: block;
  flex-shrink: 1;
  text-decoration: none;
  font-style: normal;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &-border {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: none;
    border: 1px solid portfolio-border;
    background: var(--secondary-color);
  }
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-text {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0%);
  }
}

.list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.poster {
  padding-right: 20px;
  padding-left: 20px;
}

/* Portfolio end */
