/* Team start */

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-card-color);

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @include mq(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  // @media screen and (min-width: 1200px) {
  display: flex;
  flex-wrap: wrap;
}
// }

.team-title-list {
  @include mq(mobile-only) {
  flex-basis: 100%;
  }
  
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    @include mq(mobile-only) {
      margin-bottom: 30px;
    }
    @include mq(desktop) {
      margin-right: 30px;
    }
  }

  @include mq(tablet-only) {
    // flex-basis: calc((100%-2*30px)/2);
    // margin-bottom: 15px;
    // margin-top: 15px;
    flex-basis: 354px;
  }

  &:nth-child(2n + 1) {
    @include mq(tablet-only) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 2) {
    @include mq(tablet-only) {
      margin-bottom: 30px;
    }
  }
}

.card-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: 480px) {
    flex-basis: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}

.team-player {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.text.team-player-description {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
}

.social-media {
  display: flex;
  padding-left: 22px;
  padding-right: 22px;

  @include mq(notDesktop) {
    justify-content: center;
  }

  &-links:not(:last-child) {
    margin-right: 10px;
  }
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-color);
  }
}

.social-media-icon {
  fill: var(--main-links-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-media-link:hover > &,
  .social-media-link:focus > & {
    fill: var(--secondary-color);
  }
}
/* Team end */
