/* Work start */

.work {
  padding-bottom: 94px;
  @include mq(notDesktop) {
    display: none;
  }
}

.work-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.work-dark-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-item-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
/* Work end */
