body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--main-color);
  background-color: var(--secondary-color);
  &.no-scroll {
    overflow-y: hidden;
  }
}

/* General start */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.text {
  letter-spacing: 0.03em;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

.scrollup {
  width: 50px;
  height: 50px;
  opacity: 0.3;
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url("/icon_top.png") no-repeat;
}
/* General end */
